<html>
    <head>
        <title>Crack blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Crack Blog</a></h1>
        </div>

        <div>
            <p>published: 23.12.2018, 14:08</p>
            <h2><a href="">My first post</a></h2>
            <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestiblum.</p>
        </div>

        <div>
            <p>published: 23.12.2018, 14:09</p>
            <h2><a href="">My second post</a></h2>
            <p>dfadfa</p>
        </div>
    </body>
</html>